<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baiyjk.shopping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- android:theme="@style/AppTheme" --> 
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitle"
        android:screenOrientation="portrait">
        <activity
            android:name="com.baiyjk.shopping.HomeActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity 
            android:name="com.baiyjk.shopping.BottomNavigationTabhostAvtivity">
            
        </activity>
        <activity android:name="com.baiyjk.shopping.MainNewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baiyjk.shopping.ShoppingcartActivity"
           
            android:windowSoftInputMode="stateVisible|adjustResize">
            <!--  android:windowSoftInputMode = "adjustPan"> -->
        </activity>
        <activity
            android:name="com.baiyjk.shopping.LoginActivity"
            android:label="@string/account_name" >   
        </activity>
        <activity
            android:name="com.baiyjk.shopping.CategoryActivity"
            android:label="@string/category_name" >   
        </activity>
        <activity android:name="com.baiyjk.shopping.ProductsListActivity"></activity>
        <activity android:name="com.baiyjk.shopping.ProductDetailActivity"></activity>
        <activity android:name="com.baiyjk.shopping.AccountActivity"></activity>
        <activity android:name="com.baiyjk.shopping.OrderActivity"></activity>
        <activity android:name="com.baiyjk.shopping.OrderConfirmActivity"></activity>
        <activity android:name="com.baiyjk.shopping.ReceiverActivity"></activity>
        <activity android:name="com.baiyjk.shopping.EditReceiverActivity"></activity>
        <activity android:name="com.baiyjk.shopping.CategoryLevel3Activity"></activity>
        
        <!-- 我的收藏，我的优惠券 -->
        <activity android:name="com.baiyjk.shopping.WishActivity"></activity>
        <activity android:name="com.baiyjk.shopping.CouponActivity"></activity>
        
        <!-- QQ登录 appid=100507208 -->
        <activity
	       android:name="com.tencent.tauth.AuthActivity"
	       android:noHistory="true"
	       android:launchMode="singleTask" >
		   <intent-filter>
		       <action android:name="android.intent.action.VIEW" />
		       <category android:name="android.intent.category.DEFAULT" />
		       <category android:name="android.intent.category.BROWSABLE" />
		       <data android:scheme="tencent100507208" />
		   </intent-filter>
		</activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>